*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin:auto;
}
.prodotto{
    display: inline-block;
    position: relative;
	width: calc(100% / 3);
    padding: 5px;
}
.img-prodotto{
   width: 100%;
}
.prezzo-rosso  {
    color:#eb0037;
    font-weight: bold;
}
.prezzo-barrato{
    text-decoration: line-through;
}
.cuoricino{
    position: absolute;
    bottom: 90%;
    right: 5px;
    text-align: center;
    width: 40px;
    background-color: #ffffff;
    font-size: 30px;
}


.sostenibilita,.sconto{
    color: #ffffff;
    text-align: center;
    padding: 5px;
    position: absolute;
    font-size: 14px;
    font-style: italic;
}
.sconto{
    background-color: #eb0037;
    bottom: 85px;
}
.sostenibilita{
    background-color: #00875a;
    bottom: 85px;
    left: 50px;
}
